In [1]:
# import the usual libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# for cleaning
import datetime

In [2]:
trends = pd.read_csv('../../assets/google_trends.csv')

In [3]:
trends.head()

,Week,dengue: (Singapore),dengue fever: (Singapore),rashes: (Singapore),vomiting: (Singapore),eye pain: (Singapore),joint pain: (Singapore),fever: (Singapore),Wolbachia: (Singapore),headache: (Singapore),nausea: (Singapore)
0,5/1/14,44,52,67,43,30,27,73,0,22,9
1,12/1/14,38,53,73,38,0,26,66,2,25,11
2,19/1/14,31,60,60,52,12,13,80,0,27,8
3,26/1/14,23,24,57,39,31,0,64,0,25,12
4,2/2/14,28,44,56,31,0,7,72,0,22,8

In [4]:
trends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Week                       261 non-null    object
 1   dengue: (Singapore)        261 non-null    int64
 2   dengue fever: (Singapore)  261 non-null    int64
 3   rashes: (Singapore)        261 non-null    int64
 4   vomiting: (Singapore)      261 non-null    int64
 5   eye pain: (Singapore)      261 non-null    int64
 6   joint pain: (Singapore)    261 non-null    int64
 7   fever: (Singapore)         261 non-null    int64
 8   Wolbachia: (Singapore)     261 non-null    int64
 9   headache: (Singapore)      261 non-null    int64
 10  nausea: (Singapore)        261 non-null    int64
dtypes: int64(10), object(1)
memory usage: 22.6+ KB

In [5]:
# convert to datetime format
trends['date']=pd.to_datetime(trends['Week'], format='%d/%m/%y')

# split into year and month
trends['year'] = trends['date'].dt.year
trends['month'] = trends['date'].dt.month
trends['week'] = trends['date'].dt.week # convert to weeks 1 to 52

/var/folders/t4/n89gfp4s10b4j476kq4xh2p00000gn/T/ipykernel_44385/1964278311.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  trends['week'] = trends['date'].dt.week # convert to weeks 1 to 52

In [6]:
trends.head()

,Week,dengue: (Singapore),dengue fever: (Singapore),rashes: (Singapore),vomiting: (Singapore),eye pain: (Singapore),joint pain: (Singapore),fever: (Singapore),Wolbachia: (Singapore),headache: (Singapore),nausea: (Singapore),date,year,month,week
0,5/1/14,44,52,67,43,30,27,73,0,22,9,2014-01-05,2014,1,1
1,12/1/14,38,53,73,38,0,26,66,2,25,11,2014-01-12,2014,1,2
2,19/1/14,31,60,60,52,12,13,80,0,27,8,2014-01-19,2014,1,3
3,26/1/14,23,24,57,39,31,0,64,0,25,12,2014-01-26,2014,1,4
4,2/2/14,28,44,56,31,0,7,72,0,22,8,2014-02-02,2014,2,5

In [7]:
trends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Week                       261 non-null    object
 1   dengue: (Singapore)        261 non-null    int64
 2   dengue fever: (Singapore)  261 non-null    int64
 3   rashes: (Singapore)        261 non-null    int64
 4   vomiting: (Singapore)      261 non-null    int64
 5   eye pain: (Singapore)      261 non-null    int64
 6   joint pain: (Singapore)    261 non-null    int64
 7   fever: (Singapore)         261 non-null    int64
 8   Wolbachia: (Singapore)     261 non-null    int64
 9   headache: (Singapore)      261 non-null    int64
 10  nausea: (Singapore)        261 non-null    int64
 11  date                       261 non-null    datetime64[ns]
 12  year                       261 non-null    int64
 13  month                      261 non-null    int64
 14  week                       261 non-null    int64
dtypes: datetime64[ns](1), int64(13), object(1)
memory usage: 30.7+ KB

In [8]:
# rename the columns
new_columns_dict = {
    'dengue: (Singapore)': 'dengue_search',
    'dengue fever: (Singapore)': 'dengue_fever_search',
    'rashes: (Singapore)': 'rashes_search',
    'vomiting: (Singapore)': 'vomiting_search',
    'eye pain: (Singapore)': 'eye_pain_search',
    'joint pain: (Singapore)': 'joint_pain_search',
    'fever: (Singapore)': 'fever_search',
    'Wolbachia: (Singapore)': 'wolbachia_search',
    'headache: (Singapore)': 'nausea_search',
}

# assign new column names
trends.rename(columns = new_columns_dict, inplace=True)

In [9]:
trends_columns = ['date', 'year', 'month', 'week', 'dengue_search', 'dengue_fever_search', 
                  'rashes_search', 'vomiting_search', 'eye_pain_search', 'joint_pain_search',
                 'fever_search', 'wolbachia_search', 'nausea_search']

trends = trends[trends_columns]

In [10]:
# check if all headers are aligned
trends.head()

,date,year,month,week,dengue_search,dengue_fever_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,nausea_search
0,2014-01-05,2014,1,1,44,52,67,43,30,27,73,0,22
1,2014-01-12,2014,1,2,38,53,73,38,0,26,66,2,25
2,2014-01-19,2014,1,3,31,60,60,52,12,13,80,0,27
3,2014-01-26,2014,1,4,23,24,57,39,31,0,64,0,25
4,2014-02-02,2014,2,5,28,44,56,31,0,7,72,0,22

In [11]:
trends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 261 non-null    datetime64[ns]
 1   year                 261 non-null    int64
 2   month                261 non-null    int64
 3   week                 261 non-null    int64
 4   dengue_search        261 non-null    int64
 5   dengue_fever_search  261 non-null    int64
 6   rashes_search        261 non-null    int64
 7   vomiting_search      261 non-null    int64
 8   eye_pain_search      261 non-null    int64
 9   joint_pain_search    261 non-null    int64
 10  fever_search         261 non-null    int64
 11  wolbachia_search     261 non-null    int64
 12  nausea_search        261 non-null    int64
dtypes: datetime64[ns](1), int64(12)
memory usage: 26.6 KB

In [12]:
# Define a function to add one day to a datetime object
def add_one_day(date):
    new_date = date + datetime.timedelta(days=1)
    new_date = new_date.strftime('%y-%d-%m')
    return new_date

In [13]:
# Apply the function to the 'date' column
trends['date'] = trends['date'].apply(add_one_day)

In [14]:
trends.head()

,date,year,month,week,dengue_search,dengue_fever_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,nausea_search
0,14-06-01,2014,1,1,44,52,67,43,30,27,73,0,22
1,14-13-01,2014,1,2,38,53,73,38,0,26,66,2,25
2,14-20-01,2014,1,3,31,60,60,52,12,13,80,0,27
3,14-27-01,2014,1,4,23,24,57,39,31,0,64,0,25
4,14-03-02,2014,2,5,28,44,56,31,0,7,72,0,22

In [15]:
# export the trends dataframe into a .csv file
trends.to_csv('../../assets/complete_google_trends.csv')